.main-container {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  margin-left: 15%;
  margin-right: 15%;
}

.top-container {
  display: flex;
  flex-direction: column;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}